<tr>
	<td class="bold rank" data-prop="rank">{{rank}}</td> <!-- ranked by market cap -->
	<td class="coinname" data-prop="coinname">{{coinname}}</td>  <!-- name of currency, this will take user to more detailed secondary page -->
	<td class="symbol" data-prop="symbol"><i class="cc {{symbol}}" title="{{symbol}}"></i> {{symbol}}</td>
	<td class="type" data-prop="type">{{type}}</td>  <!-- coin type -->
	<td class="blockchain" data-prop="blockchain">{{blockchain}}</td>  <!-- blockchain -->
	<td class="text-right team" data-prop="team">{{team}}</td>  <!-- developer team -->
	<td class="text-right users" data-prop="latest.users">{{latestUsers data}}</td> <!-- contributors to core repository -->
	<td class="text-right forks" data-prop="latest.forks">{{latestForks data}}</td>  <!-- starred -->
	<td class="release" data-prop="latest.release">{{dateFormat releases.0.publishedAt}}</td>  <!-- latest release -->
</tr>
