<tr>
	<td class="bold rank">{{rank}}</td> <!-- ranked by market cap -->
	<td class="symbol"><i class="cc {{symbol}}" title="{{symbol}}"></i> {{symbol}}</td>
	<td class="coinname">{{coinname}}</td>  <!-- name of currency, this will take user to more detailed secondary page -->
	<td class="type">{{type}}</td>  <!-- coin type -->
	<td class="blockchain">{{blockchain}}</td>  <!-- blockchain -->
	<td class="center team">{{team}}</td>  <!-- developer team -->
	<td class="center mentionable-users">{{latestUsers data}}</td> <!-- contributors to core repository -->
	<td class="stars">{{latestStars data}}</td>  <!-- starred -->
	<td class="last-release">{{dateFormat releases.0.publishedAt}}</td>  <!-- latest release -->
</tr>
